In [2]:
import pandas as pd
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

########find quartiles, and find what we can expected norms.  Which countries are outliers?

In [14]:
df = pd.read_csv("Exports.csv")
df.head()

,Partner,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,World,1148198722191,1287441996730,1056042963028,1278494525839,1482507755226,1545820839892,1578516879950,1621873792910,1503328349746,1451023529686,1546272961061
1,Canada,248888144575,261149833516,204657955218,249256459292,281291530822,292650534087,300754868974,312816950458,280855169199,266734465220,282265135262
2,Mexico,135918138711,151220056463,128892137645,163664645537,198288737278,215875115867,225954367783,241007162317,236460137152,230051175309,243314438647
3,China,62936891576,69732837543,69496678611,91911080944,104121523635,110516615672,121746188637,123657203406,115873365314,115545507660,129893586716
4,Japan,61159582766,65141753124,51134184201,60471852133,65799736713,69975786856,65237414094,66891842650,62387809646,63226075952,67605076964
5,United Kingdom,49981491297,53599069711,45703598254,48410311047,56033108347,54860484359,47361236230,53913170241,56094705824,55169322571,56257922547
6,Germany,49419703142,54505255730,43306258441,48155263220,49294189419,48802968878,47363465586,49418841185,49978833642,49432133760,53896753486
7,South Korea,34401709969,34668671020,28611928167,38820637297,43461636035,42282565212,41648727506,44649563379,43483975006,42312661833,48326408702
8,Netherlands,32836958949,39719476892,32241517656,34740302131,42227119015,40618286512,42577045423,43141223376,40211651705,39605129181,41510332962
9,Hong Kong,19901654480,21498619389,21050525179,26570450803,36398784628,37471809096,42332232943,40913401409,37182746594,34895198640,39939130227
10,Brazil,24172315213,32298654561,26095455340,35417674011,43018838986,43771278235,44105506964,42431727466,31640538352,30066298085,37221566249
11,France,26675969747,28840096938,26493009350,26969951939,27856813717,30812883841,31743718451,31289479114,30026310133,31153273784,33595514399
12,Belgium,25258518805,28903481869,21607727193,25457982517,29990463874,29438360969,31840185737,34736299812,34173801448,32100693086,29923692464
13,Singapore,25618565860,27853610178,22231821976,29008615357,31282363017,30523214544,30665030257,30067829728,28480840145,26831600841,29805915154
14,Taiwan,25828669191,24926275971,18485640877,26050037333,25932497638,24337097719,25522769412,26675060570,25826012762,26034342726,25729504439
15,India,14968845536,17682084740,16441395486,19248886968,21542184381,22105737858,21810447551,21499085305,21452908500,21635671024,25688861698
16,Australia,19178197903,22218649074,19599303927,21804647444,27626182324,31161378813,26123737344,26681740360,25032402498,22149268573,24526835921
17,Switzerland,17039261465,22023645856,17504409869,20703849321,24486242385,26406154155,26558942638,22204420118,22154240851,22797586099,21684835238
18,United Arab Emirates,10786648688,14417398443,12210863357,11662455901,15921629417,22559108724,24476064517,22115343552,23001078211,22387993944,20019696481
19,Italy,14149624058,15460835761,12268011950,14219893087,16037489503,16097123281,16757095740,16968945258,16212487317,16724153237,18404689805

In [51]:
#world_df = df[0:1]
#world_df
df['mean'] = df.mean(axis=1)
df.head()
changeable_df = combined_df[["Partner","2007","2017", "mean"]]
changeable_df.head()
changeable_df.to_csv("change_this.csv")

In [6]:
#top_df = df[1:5]
#top_df

,Partner,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,Canada,248888144575,261149833516,204657955218,249256459292,281291530822,292650534087,300754868974,312816950458,280855169199,266734465220,282265135262
2,Mexico,135918138711,151220056463,128892137645,163664645537,198288737278,215875115867,225954367783,241007162317,236460137152,230051175309,243314438647
3,China,62936891576,69732837543,69496678611,91911080944,104121523635,110516615672,121746188637,123657203406,115873365314,115545507660,129893586716
4,Japan,61159582766,65141753124,51134184201,60471852133,65799736713,69975786856,65237414094,66891842650,62387809646,63226075952,67605076964

In [37]:
pop_df = pd.read_csv("population_csv.csv")
pop17_df = pop_df.loc[pop_df["Year"] == 2016, :]
partner_df = pop17_df.rename(columns={"Country Name": "Partner", "Value": "Population"})
partner_df

,Partner,Country Code,Year,Population
56,Arab World,ARB,2016,4.064527e+08
113,Caribbean small states,CSS,2016,7.245472e+06
170,Central Europe and the Baltics,CEB,2016,1.029741e+08
227,Early-demographic dividend,EAR,2016,3.170542e+09
284,East Asia & Pacific,EAS,2016,2.296786e+09
341,East Asia & Pacific (excluding high income),EAP,2016,2.051431e+09
398,East Asia & Pacific (IDA & IBRD countries),TEA,2016,2.026028e+09
455,Euro area,EMU,2016,3.408946e+08
512,Europe & Central Asia,ECS,2016,9.119953e+08
569,Europe & Central Asia (excluding high income),ECA,2016,4.174246e+08
626,Europe & Central Asia (IDA & IBRD countries),TEC,2016,4.553727e+08
683,European Union,EUU,2016,5.114974e+08
740,Fragile and conflict affected situations,FCS,2016,5.056360e+08
797,Heavily indebted poor countries (HIPC),HPC,2016,7.446030e+08
854,High income,HIC,2016,1.190029e+09
911,IBRD only,IBD,2016,4.697247e+09
968,IDA & IBRD total,IBT,2016,6.271593e+09
1025,IDA blend,IDB,2016,5.211594e+08
1082,IDA only,IDX,2016,1.053187e+09
1139,IDA total,IDA,2016,1.574346e+09
1196,Late-demographic dividend,LTE,2016,2.262710e+09
1253,Latin America & Caribbean,LCN,2016,6.376645e+08
1310,Latin America & Caribbean (excluding high income),LAC,2016,6.101364e+08
1367,Latin America & the Caribbean (IDA & IBRD coun...,TLA,2016,6.215349e+08
1424,Least developed countries: UN classification,LDC,2016,9.793879e+08
1481,Low & middle income,LMY,2016,6.252106e+09
1538,Low income,LIC,2016,6.592727e+08
1595,Lower middle income,LMC,2016,3.012924e+09
1652,Middle East & North Africa,MEA,2016,4.367207e+08
1709,Middle East & North Africa (excluding high inc...,MNA,2016,3.737191e+08
...,...,...,...,...
13261,Sweden,SWE,2016,9.903122e+06
13318,Switzerland,CHE,2016,8.372098e+06
13375,Syrian Arab Republic,SYR,2016,1.843045e+07
13432,Tajikistan,TJK,2016,8.734951e+06
13489,Tanzania,TZA,2016,5.557220e+07
13546,Thailand,THA,2016,6.886351e+07
13603,Timor-Leste,TLS,2016,1.268671e+06
13660,Togo,TGO,2016,7.606374e+06
13717,Tonga,TON,2016,1.071220e+05
13774,Trinidad and Tobago,TTO,2016,1.364962e+06
13831,Tunisia,TUN,2016,1.140325e+07
13888,Turkey,TUR,2016,7.951243e+07
13945,Turkmenistan,TKM,2016,5.662544e+06
14002,Turks and Caicos Islands,TCA,2016,3.490000e+04
14059,Tuvalu,TUV,2016,1.109700e+04
14116,Uganda,UGA,2016,4.148796e+07
14173,Ukraine,UKR,2016,4.500464e+07
14230,United Arab Emirates,ARE,2016,9.269612e+06
14287,United Kingdom,GBR,2016,6.563724e+07
14344,United States,USA,2016,3.231275e+08
14401,Uruguay,URY,2016,3.444006e+06
14458,Uzbekistan,UZB,2016,3.184820e+07
14515,Vanuatu,VUT,2016,2.704020e+05
14572,"Venezuela, RB",VEN,2016,3.156818e+07
14629,Vietnam,VNM,2016,9.270110e+07
14686,Virgin Islands (U.S.),VIR,2016,1.029510e+05
14713,West Bank and Gaza,PSE,2016,4.551566e+06
14770,"Yemen, Rep.",YEM,2016,2.758421e+07
14827,Zambia,ZMB,2016,1.659139e+07
14884,Zimbabwe,ZWE,2016,1.615036e+07

In [55]:
combined_df = pd.merge(df, partner_df, how="left", on='Partner')
#combined_df.head()
reduced_df = combined_df[["Partner","2007","2017","mean", "Country Code","Population"]]
#reduced_df.head()
reduced_df.to_csv("NoPop.csv")
# per_capita = combined_df["mean"] / combined_df["Population"]
# combined_df["Per Capita Exports"] = per_capita
# #combined_df.tail(20)
# reduced_df = combined_df[["Partner","2007","2017","mean", "Country Code","Population","Per Capita Exports"]]
# reduced_df.to_csv("showsNaN.csv")

In [96]:
pop_added_df = pd.read_csv("PopAdded.csv")
pop_added_df.head()

,Unnamed: 0,Partner,2007,2017,mean,Country Code,Population
0,0,World,1148198722191,1546272961061,1.409047e+12,WLD,7.442136e+09
1,1,Canada,248888144575,282265135262,2.710292e+11,CAN,3.628642e+07
2,2,Mexico,135918138711,243314438647,1.973315e+11,MEX,1.275404e+08
3,3,China,62936891576,129893586716,1.014029e+11,CHN,1.378665e+09
4,4,Japan,61159582766,67605076964,6.354828e+10,JPN,1.269945e+08

In [97]:
dis_df = pd.read_csv("Country_info.csv")
combined_full_df = pd.merge(pop_added_df, dis_df, how="left", on='Partner')
combined_full_df.head()
#full_df = combined_full_df.rename(columns={"distance": "Avg. Miles from US"})

,Unnamed: 0,Partner,2007,2017,mean,Country Code,Population,distance
0,0,World,1148198722191,1546272961061,1.409047e+12,WLD,7.442136e+09,NaN
1,1,Canada,248888144575,282265135262,2.710292e+11,CAN,3.628642e+07,1406.0
2,2,Mexico,135918138711,243314438647,1.973315e+11,MEX,1.275404e+08,1012.0
3,3,China,62936891576,129893586716,1.014029e+11,CHN,1.378665e+09,7252.0
4,4,Japan,61159582766,67605076964,6.354828e+10,JPN,1.269945e+08,6321.0

In [82]:
full_df = combined_full_df.rename(columns={"Partner": "Country Name", "distance": "Average Miles from US"})
#partner_df = pop17_df.rename(columns={"Country Name": "Partner", "Value": "Population"})
full_df.to_csv("need_dis.csv")

In [98]:
complete_df = pd.read_csv("CompleteData.csv")
complete_df
#complete_named_df = complete_df.columns.rename(columns={" distance": "Average Air Miles from US"})

,Unnamed: 0,Unnamed: 0.1,Country Name,2007,2017,mean,Country Code,Population,distance
0,0,0,World,1148198722191,1546272961061,1.409047e+12,WLD,7.442136e+09,NaN
1,1,1,Canada,248888144575,282265135262,2.710292e+11,CAN,3.628642e+07,1406.0
2,2,2,Mexico,135918138711,243314438647,1.973315e+11,MEX,1.275404e+08,1012.0
3,3,3,China,62936891576,129893586716,1.014029e+11,CHN,1.378665e+09,7252.0
4,4,4,Japan,61159582766,67605076964,6.354828e+10,JPN,1.269945e+08,6321.0
5,5,5,United Kingdom,49981491297,56257922547,5.248949e+10,GBR,6.563724e+07,4255.0
6,6,6,Germany,49419703142,53896753486,4.941579e+10,DEU,8.266768e+07,4898.0
7,7,7,South Korea,34401709969,48326408702,4.024259e+10,KOR,5.125000e+07,6690.0
8,8,8,Netherlands,32836958949,41510332962,3.903900e+10,NLD,1.701841e+07,4676.0
9,9,9,Hong Kong,19901654480,39939130227,3.255950e+10,HKG,7.347000e+06,7903.0
10,10,10,Brazil,24172315213,37221566249,3.547635e+10,BRA,2.076529e+08,4537.0
11,11,11,France,26675969747,33595514399,2.958700e+10,FRA,6.689611e+07,4775.0
12,12,12,Belgium,25258518805,29923692464,2.940284e+10,BEL,1.134816e+07,4706.0
13,13,13,Singapore,25618565860,29805915154,2.839722e+10,SGP,5.607283e+06,9506.0
14,14,14,Taiwan,25828669191,25729504439,2.503163e+10,NaN,2.358000e+07,7619.0
15,15,15,India,14968845536,25688861698,2.037056e+10,IND,1.324171e+09,8448.0
16,16,16,Australia,19178197903,24526835921,2.419112e+10,AUS,2.412716e+07,9437.0
17,17,17,Switzerland,17039261465,21684835238,2.214214e+10,CHE,8.372098e+06,4990.0
18,18,18,United Arab Emirates,10786648688,20019696481,1.814166e+10,ARE,9.269612e+06,7822.0
19,19,19,Italy,14149624058,18404689805,1.575458e+10,ITA,6.060059e+07,5369.0
20,20,20,Saudi Arabia,10395890781,16348000104,1.535294e+10,SAU,3.227569e+07,7525.0
21,21,21,Chile,8148107198,13605342592,1.373383e+10,CHL,1.790975e+07,5241.0
22,22,22,Colombia,8557677097,13312122946,1.393689e+10,COL,4.865342e+07,2617.0
23,23,23,Malaysia,11680201598,12964461912,1.266850e+10,MYS,3.118726e+07,9371.0
24,24,24,Israel,12887477039,12550082579,1.314250e+10,ISR,8.547100e+06,6762.0
25,25,25,Spain,9766108527,11063740551,1.034812e+10,ESP,4.644396e+07,4730.0
26,26,26,Thailand,8336419189,10991613094,1.012866e+10,THA,6.886351e+07,8630.0
27,27,27,Ireland,7776969775,10707555883,8.074778e+09,IRL,4.773095e+06,4132.0
28,28,28,Turkey,6498756060,9741491909,1.032770e+10,TUR,7.951243e+07,6341.0
29,29,29,Argentina,5855853074,9585957928,8.649402e+09,ARG,4.384743e+07,5584.0
...,...,...,...,...,...,...,...,...,...
209,209,209,French Southern Territories,392357,2842721,3.148200e+06,NaN,6.500000e+02,NaN
210,210,210,East Timor,10930555,2565401,3.769424e+06,NaN,1.269000e+06,NaN
211,211,211,West Bank,13009291,2192360,2.197557e+06,NaN,1.700000e+06,NaN
212,212,212,San Marino,13890976,2109451,5.302310e+06,SMR,3.320300e+04,NaN
213,213,213,Faroe Islands,2800199,2034537,4.200434e+06,FRO,4.911700e+04,NaN
214,214,214,Svalbard and Jan Mayen Island,926112,1986719,1.940413e+06,NaN,2.667000e+03,NaN
215,215,215,Lesotho,7525706,1901616,6.833182e+06,LSO,2.203821e+06,NaN
216,216,216,Comoros,367032,1375097,1.535879e+06,COM,7.956010e+05,NaN
217,217,217,Tokelau Islands,55422404,1162557,1.237499e+07,NaN,1.500000e+03,NaN
218,218,218,Vatican City,18266111,1146853,4.947302e+06,NaN,1.000000e+03,NaN
219,219,219,Tuvalu,51512,796156,5.458604e+05,TUV,1.109700e+04,NaN
220,220,220,Saint Helena,3279597,587754,2.187328e+06,NaN,4.534000e+03,NaN
221,221,221,Gaza Strip,4634860,555101,7.234452e+05,NaN,1.816000e+06,NaN
222,222,222,Mayotte,243119,493107,4.869194e+06,NaN,2.040000e+05,NaN
223,223,223,Falkland Islands (Malvinas),973369,482089,2.648122e+06,NaN,3.398000e+03,NaN
224,224,224,Christmas Island,2544078,476695,2.504455e+06,NaN,1.402000e+03,NaN
225,225,225,Cocos (Keeling) Islands,1231015,452079,3.295898e+06,NaN,5.960000e+02,NaN
226,226,226,Western Sahara,344442,418356,1.559583e+05,NaN,5.130000e+05,NaN
227,227,227,Saint Pierre and Miquelon,221553,390569,1.833695e+05,NaN,6.080000e+03,NaN
228,228,228,Wallis and Futuna,212545,300526,4.604084e+05,NaN,1.189900e+04,NaN
229,229,229,Nauru,8140371,198927,2.933318e+06,NRU,1.304900e+04,NaN
230,230,230,Norfolk Island,1527492,138341,1.131868e+06,NaN,2.169000e+03,NaN
231,231,231,Heard Island and Mcdonald Islands,1721670,125829,1.516726e+06,NaN,1.000000e+00,NaN
232,232,232,Niue,1662323,86722,6.395466e+05,NaN,1.624000e+03,NaN
233,233,233,North Korea,1728160,2660,1.040415e+07,NaN,2.537000e+07,NaN
234,234,234,Pitcairn Islands,1894797,1431,2.408182e+05,NaN,5.000000e+01,NaN
235,235,235,Serbia and Montenegro,0,0,0.000000e+00,NaN,1.083000e+07,NaN
236,236,236,Other Countries,441208607,0,1.650887e+08,NaN,NaN,NaN
237,237,237,Netherlands Antilles,2082020131,0,1.019973e+09,NaN,2.270490e+05,NaN
238,238,238,East Germany,0,0,0.000000e+00,NaN,NaN,NaN

In [100]:
complete_named_df = complete_df.rename(columns={" distance": "Average Air Miles from US", "mean": "Population Mean"})
complete_named_df = complete_named_df[["Country Name","2007","2017","Population Mean", "Country Code","Population", "Average Air Miles from US"]]
#complete_named_df
per_capita = complete_named_df["Population Mean"] / complete_named_df["Population"]
complete_named_df["Per Capita Exports"] = per_capita
#complete_named_df.to_csv("pop_mean_dis.csv")
complete_named_df

,Country Name,2007,2017,Population Mean,Country Code,Population,Average Air Miles from US,Per Capita Exports
0,World,1148198722191,1546272961061,1.409047e+12,WLD,7.442136e+09,NaN,1.893338e+02
1,Canada,248888144575,282265135262,2.710292e+11,CAN,3.628642e+07,1406.0,7.469162e+03
2,Mexico,135918138711,243314438647,1.973315e+11,MEX,1.275404e+08,1012.0,1.547207e+03
3,China,62936891576,129893586716,1.014029e+11,CHN,1.378665e+09,7252.0,7.355149e+01
4,Japan,61159582766,67605076964,6.354828e+10,JPN,1.269945e+08,6321.0,5.004018e+02
5,United Kingdom,49981491297,56257922547,5.248949e+10,GBR,6.563724e+07,4255.0,7.996907e+02
6,Germany,49419703142,53896753486,4.941579e+10,DEU,8.266768e+07,4898.0,5.977643e+02
7,South Korea,34401709969,48326408702,4.024259e+10,KOR,5.125000e+07,6690.0,7.852213e+02
8,Netherlands,32836958949,41510332962,3.903900e+10,NLD,1.701841e+07,4676.0,2.293928e+03
9,Hong Kong,19901654480,39939130227,3.255950e+10,HKG,7.347000e+06,7903.0,4.431673e+03
10,Brazil,24172315213,37221566249,3.547635e+10,BRA,2.076529e+08,4537.0,1.708445e+02
11,France,26675969747,33595514399,2.958700e+10,FRA,6.689611e+07,4775.0,4.422829e+02
12,Belgium,25258518805,29923692464,2.940284e+10,BEL,1.134816e+07,4706.0,2.590979e+03
13,Singapore,25618565860,29805915154,2.839722e+10,SGP,5.607283e+06,9506.0,5.064346e+03
14,Taiwan,25828669191,25729504439,2.503163e+10,NaN,2.358000e+07,7619.0,1.061562e+03
15,India,14968845536,25688861698,2.037056e+10,IND,1.324171e+09,8448.0,1.538362e+01
16,Australia,19178197903,24526835921,2.419112e+10,AUS,2.412716e+07,9437.0,1.002651e+03
17,Switzerland,17039261465,21684835238,2.214214e+10,CHE,8.372098e+06,4990.0,2.644755e+03
18,United Arab Emirates,10786648688,20019696481,1.814166e+10,ARE,9.269612e+06,7822.0,1.957111e+03
19,Italy,14149624058,18404689805,1.575458e+10,ITA,6.060059e+07,5369.0,2.599740e+02
20,Saudi Arabia,10395890781,16348000104,1.535294e+10,SAU,3.227569e+07,7525.0,4.756813e+02
21,Chile,8148107198,13605342592,1.373383e+10,CHL,1.790975e+07,5241.0,7.668350e+02
22,Colombia,8557677097,13312122946,1.393689e+10,COL,4.865342e+07,2617.0,2.864524e+02
23,Malaysia,11680201598,12964461912,1.266850e+10,MYS,3.118726e+07,9371.0,4.062075e+02
24,Israel,12887477039,12550082579,1.314250e+10,ISR,8.547100e+06,6762.0,1.537656e+03
25,Spain,9766108527,11063740551,1.034812e+10,ESP,4.644396e+07,4730.0,2.228087e+02
26,Thailand,8336419189,10991613094,1.012866e+10,THA,6.886351e+07,8630.0,1.470831e+02
27,Ireland,7776969775,10707555883,8.074778e+09,IRL,4.773095e+06,4132.0,1.691728e+03
28,Turkey,6498756060,9741491909,1.032770e+10,TUR,7.951243e+07,6341.0,1.298879e+02
29,Argentina,5855853074,9585957928,8.649402e+09,ARG,4.384743e+07,5584.0,1.972613e+02
...,...,...,...,...,...,...,...,...
209,French Southern Territories,392357,2842721,3.148200e+06,NaN,6.500000e+02,NaN,4.843384e+03
210,East Timor,10930555,2565401,3.769424e+06,NaN,1.269000e+06,NaN,2.970389e+00
211,West Bank,13009291,2192360,2.197557e+06,NaN,1.700000e+06,NaN,1.292681e+00
212,San Marino,13890976,2109451,5.302310e+06,SMR,3.320300e+04,NaN,1.596937e+02
213,Faroe Islands,2800199,2034537,4.200434e+06,FRO,4.911700e+04,NaN,8.551894e+01
214,Svalbard and Jan Mayen Island,926112,1986719,1.940413e+06,NaN,2.667000e+03,NaN,7.275639e+02
215,Lesotho,7525706,1901616,6.833182e+06,LSO,2.203821e+06,NaN,3.100607e+00
216,Comoros,367032,1375097,1.535879e+06,COM,7.956010e+05,NaN,1.930464e+00
217,Tokelau Islands,55422404,1162557,1.237499e+07,NaN,1.500000e+03,NaN,8.249994e+03
218,Vatican City,18266111,1146853,4.947302e+06,NaN,1.000000e+03,NaN,4.947302e+03
219,Tuvalu,51512,796156,5.458604e+05,TUV,1.109700e+04,NaN,4.918990e+01
220,Saint Helena,3279597,587754,2.187328e+06,NaN,4.534000e+03,NaN,4.824279e+02
221,Gaza Strip,4634860,555101,7.234452e+05,NaN,1.816000e+06,NaN,3.983729e-01
222,Mayotte,243119,493107,4.869194e+06,NaN,2.040000e+05,NaN,2.386860e+01
223,Falkland Islands (Malvinas),973369,482089,2.648122e+06,NaN,3.398000e+03,NaN,7.793179e+02
224,Christmas Island,2544078,476695,2.504455e+06,NaN,1.402000e+03,NaN,1.786344e+03
225,Cocos (Keeling) Islands,1231015,452079,3.295898e+06,NaN,5.960000e+02,NaN,5.530030e+03
226,Western Sahara,344442,418356,1.559583e+05,NaN,5.130000e+05,NaN,3.040122e-01
227,Saint Pierre and Miquelon,221553,390569,1.833695e+05,NaN,6.080000e+03,NaN,3.015945e+01
228,Wallis and Futuna,212545,300526,4.604084e+05,NaN,1.189900e+04,NaN,3.869303e+01
229,Nauru,8140371,198927,2.933318e+06,NRU,1.304900e+04,NaN,2.247925e+02
230,Norfolk Island,1527492,138341,1.131868e+06,NaN,2.169000e+03,NaN,5.218387e+02
231,Heard Island and Mcdonald Islands,1721670,125829,1.516726e+06,NaN,1.000000e+00,NaN,1.516726e+06
232,Niue,1662323,86722,6.395466e+05,NaN,1.624000e+03,NaN,3.938095e+02
233,North Korea,1728160,2660,1.040415e+07,NaN,2.537000e+07,NaN,4.100966e-01
234,Pitcairn Islands,1894797,1431,2.408182e+05,NaN,5.000000e+01,NaN,4.816364e+03
235,Serbia and Montenegro,0,0,0.000000e+00,NaN,1.083000e+07,NaN,0.000000e+00
236,Other Countries,441208607,0,1.650887e+08,NaN,NaN,NaN,NaN
237,Netherlands Antilles,2082020131,0,1.019973e+09,NaN,2.270490e+05,NaN,4.492304e+03
238,East Germany,0,0,0.000000e+00,NaN,NaN,NaN,NaN